beautifulsoup4
certifi
charset-normalizer
click
colorama
Flask
Flask-SQLAlchemy
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
requests
SkPy
soupsieve
SQLAlchemy
typing_extensions
urllib3
Werkzeug
zipp
